.command {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #f5f4fa;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.command-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.command-item .item {
  padding-bottom: 24px;
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;

  background: $hero-title-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.command h3 {
  margin-top: 30px;
  margin-bottom: 10px;

  color: $title-text-color;
  text-align: center;

  @include font-options(500, 16px, 1.19, 0.03em);
}

.command p {
  margin-top: 0;
  margin-bottom: 16px;

  color: $primary-text-color;
  text-align: center;

  @include font-options(400, 16px, 1.19, 0.03em);
}

.social-networks {
  display: flex;
  justify-content: center;
  /* padding-right: 32px;
  padding-left: 32px;*/
}

.social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $svg-color;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $hero-title-color;
  }
}

.social-networks-item:not(:last-child) {
  margin-right: 10px;
}

.social-networks-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}
