.preview {
  padding-top: 0;
  padding-bottom: 94px;
}

.preview h2,
.command h2,
.clients h2 {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  @include font-options(700, 36px, 1.16, 0.03em);
  /*font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;*/
  text-align: center;
}

.preview-item {
  display: flex;
}

.preview-item .item:not(:last-child) {
  margin-right: 30px;
}

.preview-item .item {
  position: relative;
}

.preview-title {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
  color: $hero-title-color;
  @include font-options(700, 14px, 1.14, 0.03em);
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;*/
  text-transform: uppercase;
}
